<GridLayout rows="*, auto">
  
  <StackLayout
    class="page"
    [ngSwitch]="bottomNavigationBar.selectedTabIndex"
    row="0"
  >
    <page-router-outlet *ngSwitchDefault name="homeTab"></page-router-outlet>
    <page-router-outlet *ngSwitchCase="1" name="searchTab"></page-router-outlet>
    <page-router-outlet *ngSwitchCase="2" name="browseTab"></page-router-outlet>
  </StackLayout>

  <!-- The below code works fine with component navs, 
    but not the above with router outlets -->
    
  <!-- <StackLayout
    class="page"
    [ngSwitch]="bottomNavigationBar.selectedTabIndex"
    row="0"
  >
    <ns-first-tab *ngSwitchDefault></ns-first-tab>
    <ns-second-tab *ngSwitchCase="1"></ns-second-tab>
    <ns-third-tab *ngSwitchCase="2"></ns-third-tab>
  </StackLayout> -->
  
  <BottomNavigationBar
    #bottomNavigationBar
    row="1"
    class="custom-bottom-navigation-bar"
    (loaded)="onbottomNavigationBarLoaded()"
    (tabPressed)="onBottomNavigationTabPressed($event)"
    (tabSelected)="onBottomNavigationTabSelected($event)"
    (tabReselected)="onBottomNavigationTabReselected($event)"
  >
    <BottomNavigationTab
      title="Home"
      [icon]="homeIcon"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Search"
      [icon]="searchIcon"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Browse"
      [icon]="browseIcon"
    ></BottomNavigationTab>
  </BottomNavigationBar>
</GridLayout>
